
.layout{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.left column{
	display: 2;
	background-color: palegoldenrod;
}

.right-column{
	display: 1;
	background-color: khaki;
}

.first-row, .second-row, .third-row{
	display: 1;
}

.instructions{
	display: flex;
	flex-direction: row;
}

.first; .second; .third{
	display: 1;
}

.h2{
	display: 1;
}

h1{
	font size: 18;
}

ul, ol, h2 {
	font-size: 14px;
	color: tomato;
} 

p{
	font-size: 12px;
	color: black;
	align
}